<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div>
    <h1 onclick="location.href='/'">My shop</h1>
</div>

<div>
    <button value="available" onclick="location.href='/only-available'">Only available</button>
    <button value="cheapest" onclick="location.href='/cheapest-first'">Cheapest first</button>
    <button value="nike" onclick="location.href='/nike'">Contains nike</button>
    <button value="average" onclick="location.href='/average-stock'">Average stock</button>
    <button value="expensive" onclick="location.href='/most-expensive-available'">Most expensive available</button>
</div>
<div>
    <form action="/search" method="POST">
        <label for="site-search">Search for:</label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content">
        <input type="submit"/>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th colspan="0">Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shopItem : ${shopItems}">
        <td th:text=${shopItem.getName()}></td>
        <td th:text=${shopItem.getDescription()}></td>
        </td>
        <td th:text=${shopItem.getPrice()}></td>
        </td>
        <td th:text=${shopItem.getQuantity()}></td>
        </td>
    </tr>
    <tr>
        <td th:text="${average}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>